<h1>Word Counter</h1>
<script>
const input = document.querySelector("textarea");
const wordCount = document.querySelector("[data-word-count]");
const characterCount = document.querySelector("[data-character-count]");
const sentenceCount = document.querySelector("[data-sentence-count]");
const paragraphCount = document.querySelector("[data-paragraph-count]");

input.addEventListener("input", function () {
  if (input.value) {
    // Count Words
    const wordsArray = input.value.split(" ").filter((word) => word !== "");
    wordCount.innerText = wordsArray.length;

    // Count Characters
    characterCount.innerText = input.value.length;

    // Count Sentences
    const sentenceArray = input.value.split(".");

    sentenceCount.innerText = sentenceArray.length - 1;

    // Count Paragraph
    const paragraphArray = input.value
      .split("\n")
      .filter((p) => p.trim() !== "");

    paragraphCount.innerText = paragraphArray.length;
  } else {
    wordCount.innerText =
      characterCount.innerText =
      sentenceCount.innerText =
      paragraphCount.innerText =
        0;
  }
});
</script>
    <div class="container">
      <textarea placeholder="Enter your text here..."></textarea>
      <div class="output-container">
        <div class="output">
          <p class="words">Words</p>
          <span data-word-count>0</span>
        </div>
        <div class="output">
          <p class="characters">Characters</p>
          <span data-character-count>0</span>
        </div>
        <div class="output">
          <p class="sentences">Sentences</p>
          <span data-sentence-count>0</span>
        </div>
        <div class="output">
          <p class="paragraphs">Paragraphs</p>
          <span data-paragraph-count>0</span>
        </div>
      </div>
    </div>
